.menu-list {
    position: relative;
    min-width: 223px;
    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

.arrow {
    position: absolute;
    right: 14px;
    bottom: 100%;
    color: var(--white);
    line-height: 0;
}

// Menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 8px 10px 16px;
    border: none;
    border-radius: 0;
    color: var(--text-color);
    line-height: 21px;
    font-weight: 600;

    &:hover {
        background-color: var(--hover-color);
    }

    &.separate {
        border-top: 1px solid var(--separate-color);
    }
}

// Header
.header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    height: 50px;
}

.back-btn {
    width: 50px;
    line-height: 0;
    padding-left: 24px;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    user-select: none;
}
