$infoMaxWidth: 380px;

@mixin textOverflowEllipsis {
    max-width: $infoMaxWidth;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    display: flex;
    padding: 9px 16px;

    &:hover {
        background-color: var(--hover-color);
    }
}

.avatar {
    margin-right: 12px;
}

.info {
    flex: 1;
}

.nickname {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 21px;
    font-weight: 600;

    span {
        white-space: nowrap;
        @include textOverflowEllipsis;
    }
}

.check {
    margin-left: 8px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.4rem;
    line-height: 18px;
    color: var(--sub-title);
    font-weight: 400;
    @include textOverflowEllipsis;
}
