.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0 24px 0 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.logo {
    width: 300px;
    line-height: 0;
}

// Action
.action {
    display: flex;
    align-items: center;

    .upload-btn {
        padding: 0 16px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        color: var(--text-color);

        &:hover {
            background-color: var(--hover-color);
        }
    }
}

.menu-btn {
    margin-left: 16px;
    padding: 0 4px;
    line-height: 0;
    cursor: pointer;
}
