$searchIconsColor: rgba(22, 24, 35, 0.34);

.search,
.search-result {
    width: 500px;
}

.search {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 0 16px;
    background-color: var(--gray);
    border: 1px solid transparent;
    border-radius: 92px;
    overflow: hidden;

    &:hover,
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &:hover .search-btn {
        background-color: var(--gray);
        color: var(--text-color);
    }

    input {
        flex: 1;
        height: 100%;
        font-family: var(--font-family);
        font-size: 1.6rem;
        line-height: 21px;
        color: var(--text-color);
        caret-color: var(--primary);
    }
}

input:not(:placeholder-shown) ~ .search-btn {
    color: var(--text-color-secondary);
}

button {
    line-height: 0;
}

.clear-btn,
.loading,
.search-btn {
    color: $searchIconsColor;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        rotate: 360deg;
    }
}

.separate {
    width: 1px;
    height: 28px;
    background-color: var(--separate-color);
}

.search-btn {
    width: 52px;
    height: 100%;
    margin-right: -16px;
    padding-right: 4px;
    cursor: pointer;
}

// Search result
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 600;
    color: var(--sub-title-color);
    user-select: none;
}
