@property --scrollbar-color {
    syntax: '<color>';
    inherits: true;
    initial-value: white;
}

.wrapper {
    width: 240px;
}

.sidebar-container {
    position: fixed;
    top: var(--default-layout-header-height);
    bottom: 0;
    width: 240px;
    padding: 20px 0px 26px 8px;
    overflow-y: auto;
    transition: --scrollbar-color 0.5s ease 0s;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color);
    }

    &:hover {
        --scrollbar-color: rgba(22, 24, 35, 0.06);
    }
}
